@media (min-width: 1128px) {
    .root {
        height: 100vh !important;
        min-height: 450px !important;
        background-size: 100% !important;
    }
};

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-bottom-50 {
    margin-bottom: 50px !important;
}

.background {
    position: fixed;
    z-index: -1;
}

.root {
    background-image: url("../assets/images/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100% !important;
    margin: 0 !important;
    height: 80vh;
}

.landing-header {
    top: 0px;
    width: 100%;
    background-color: transparent;
    margin: 0;
    position: absolute;
    z-index: 1000;
}

.other-header {
    top: 0px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgb(235, 235, 235);
    margin: 0;
    position: fixed;
    z-index: 1000;
}

.header-logo {
    float: left;
    height: 30px;
    margin: 20px;
}
       
.header-buttons {
    float: right;
    text-align: right;
    margin-top: 18px;
}

.header-flat-button {
    color: white !important;
    display: inline-block;
    padding: 0px 10px;
}

.header-flat-button:hover {
    background-color: transparent !important;
}

.header-flat-button div:hover{
    color: rgb(109, 255, 211) !important;
    border-bottom: 2px solid rgb(109, 255, 211) !important;
}

.other-header .header-buttons .header-flat-button {
    color: black !important;
    display: inline-block;
    padding: 0px 10px;
}

.other-header .header-buttons .header-flat-button div:hover {
    color: black !important;
    border-bottom: 2px solid black !important;
}
     
.search-bar {
    border: 1px solid rgb(235, 235, 235) !important;
    border-radius: 5px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px !important;
    padding: 0px 10px;
}

.search-field {
    width: 100% !important;
}

.search-form {
    
}

.search-logo {
    position: relative;
    top: 8px;
    left: -5px;
}

.search-row {
    padding-left: 5vw;
    padding-top: 100px;
    margin: 0 !important;
}

.popup-guest-box {
    position: absolute;
    background-color: white;
    padding: 20px !important;
    z-index: 1000;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
}

.guest-btn {
    display: inline-flex !important;
    vertical-align: middle !important;
    width: 100%;
    background-color: transparent;
    font-size: 14px !important;
    font-weight: 600 !important;
    text-transform: lowercase !important;
}

.guest-btn-focus {
    /* border: 2px solid rgb(0, 188, 212) !important; */
    background-color: rgb(0, 188, 212) !important;
}

.guest-btn-focus span p {
    color: white !important;
}

.search-btn {
    width: 100%;
    background-color: rgb(0, 188, 212) !important;
    color: rgba(0, 0, 0, 0.8) !important;
}

.search-btn span p {
    color: white !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}

.apply-btn {
    width: 100%;
    font-size: 14px !important;
    font-weight: 600 !important;
    background-color: rgb(0, 188, 212) !important;
    color: white !important;
}

p {
    color: rgba(0, 0, 0, 0.7) !important;
    margin: 0 !important;
}

h2.explore-title {
    text-align: left !important;
    padding-left: 25px !important;
    font-weight: 600 !important;
}

h2, h3 {
    color: rgba(0, 0, 0, 0.7) !important;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
    height: auto;
}

.guest-type-title {
    font-size: 14px !important;
    font-weight: 600 !important;
    color: rgba(0, 0, 0, 0.6) !important;
}

.guest-type-subtitle {
    font-size: 11px !important;
    font-weight: 400 !important;
    color: rgba(0, 0, 0, 0.8) !important;
}

.category-box {
    display: inline-block;
    cursor: pointer;
    width: 15vw;
    min-width: 280px;
    min-height: 100px;
    margin: 0px 25px !important;
    text-align: left !important;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 4px 6px !important;
    border-top: 1px solid rgb(235, 235, 235) !important;
}

.category-box:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 4px 6px 10px !important;
}

.category-box div {
    display: inline-block;
    text-align: center;
}

.category-box .category-name {
    padding-left: 15px;
}

.category-name h4 {
    font-weight: 600 !important;
}

.category-img {
    border-radius: 4px 0 0 4px !important;
    top: 10px;
    height: 100%;
    width: 100px;
}

.city-slider {
    display: flex !important;
    height: 350px;
}

.accommodation-container {
    width: 15vw;
    display: inline-block;
    cursor: pointer;
    margin: 0px 25px;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 4px 6px !important;
}

.accommodation-container:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 4px 6px 15px !important;
}

.accommodation-container div {
    display: inline-block;
    overflow: hidden;
}

.accommodation-container:hover div img {
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
    transform:scale(1.2);
}

.accommodation-type {
    margin-bottom: 10px !important;
}

.accommodation-title {
    font-weight: 600 !important;
}

.accommodation-thumb {
    width: 100%;
	height: 200px;
    border-radius: 4px 4px 0 0 !important;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.accommodation-group-img {
    
}

.accom-group-img-container {
    padding-top: 75px !important;
    padding-left: 80px !important;
    padding-right: 80px !important;
}

.accommodation-img {
    width: 100%;
    border: 1px solid #ffffff !important;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}